@import "bootstrap";
@import "themes";
@import "global";

#about {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.about-secondary-color {
  transition: color $theme-toggle-time;
  @include themed() {
    color: t("secondary-color");
  }
}

.about-intro {
  text-align: center;
  
  h1 {
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    line-height: 1.6;
  }
}

// Bootstrap breakpoint to optimize when layout changes
@include media-breakpoint-down(md) {
  .about-intro {
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
}